body {
  font-family: 'Times New Roman', Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #234127;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.header-content h1 {
  font-size: 42px;
}

.header-content span {
  color: #ffffff; /* white color */
}

.btn-download {
  display: inline-block;
  background-color: #ffffff;
  color: #234127;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.5s;
}

.btn-download:hover {
  background-color: #234127;
  color: #fff;
}

.about {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.about-content {
  text-align: center;
  font-size: 18px;
  max-width: 800px;
  margin:auto
}

.about-content img {
  width: 200px;
  border-radius: 50%;
}

.contact {
  padding: 100px 0;
  background-color: #234127;
  color: #fff;
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
}

.contact-content h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.contact-content input,
.contact-content textarea,
.contact-content button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.contact-content button {
  background-color: #fff;
  color: #234127;
  font-weight: bold;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}
